# Artificial Intelligence II: HW1 Tutorial

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

## Loading and Exploring the Dataset

In [ ]:
#Reading a csv file with pandas only needs one line of code
df = pd.read_csv("./sample_data/california_housing_train.csv")

In [ ]:
!gdown --id

In [ ]:
#Take a look at the first examples of the dataset
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [ ]:
#Get stats about the data
df.describe()

          longitude      latitude  ...  median_income  median_house_value
count  17000.000000  17000.000000  ...   17000.000000        17000.000000
mean    -119.562108     35.625225  ...       3.883578       207300.912353
std        2.005166      2.137340  ...       1.908157       115983.764387
min     -124.350000     32.540000  ...       0.499900        14999.000000
25%     -121.790000     33.930000  ...       2.566375       119400.000000
50%     -118.490000     34.250000  ...       3.544600       180400.000000
75%     -118.000000     37.720000  ...       4.767000       265000.000000
max     -114.310000     41.950000  ...      15.000100       500001.000000

[8 rows x 9 columns]

## Data Pre-processing

In [ ]:
#Check for null values
#In this case there are no missing values, so no action is needed
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [ ]:
#Separate features (inputs) from targets (outputs)
X = df.drop('median_house_value', axis=1) #Keep everything but value
Y = df['median_house_value'] #Only keep value

In [ ]:
#Split train and test sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.8)

## Train a model

In [ ]:
#We will experiment with Ridge Regression
clf = Ridge()
clf.fit(X_train, Y_train)

Ridge()

## Evaluate model's performance

In [ ]:
#Now that we have trained the classifer, we can make predictions on the unseen data
Y_test_pred = clf.predict(X_test)
print(Y_test_pred)
#Let's also make predictions on the train set for reference
Y_train_pred = clf.predict(X_train)

[ 98793.65499353  67248.16703627 156492.12478729 ... 233439.37714666
 301745.69755585 172554.74551526]

In [ ]:
test_mse = mean_squared_error(Y_test, Y_test_pred)
print(f"Our classifier achieves a MSE of {test_mse:.2f} on the test set")
train_mse = mean_squared_error(Y_train, Y_train_pred)
print(f"Our classifier achieves a MSE of {train_mse:.2f} on the train set")

Our classifier achieves a MSE of 4633771802.23 on the test set
Our classifier achieves a MSE of 4873337527.61 on the train set

## Notes and Conclusions
As we see the MSE is quite large, and eventhough our model performs slightly better on the train set (as expected), it does not perform that well overall.

However, there are many things that we have not tried yet:

* Scaling our features
* Experimenting with different models 
* Using different hyperparameters for each model
* Testing which of the features are really helpfull
* Creating additional synthetic features
* And many more...

Obviously, some of these steps might not apply to a NLP project, because the nature of textual data is very different and unique. However, the overall mindset is similar.